body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black; /* Set background to black */
    color: hsl(49, 100%, 98%); /* Set text color to white */
}

/* For the footer container */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsl(49, 100%, 98%);
    padding: 10px 0;
    text-align: center;
  }
  
/* For the flower images container */
  .flower-images {
    display: flex;          /* This enables flexbox */
    justify-content: center; /* Centers items horizontally */
    align-items: center;    /* Centers items vertically */
    gap: 10px;              /* Adds space between items */
    flex-wrap: wrap;        /* Allows wrapping if screen is too small */
  }
  
/* For individual flower images */
  .flower-images img {
    width: 100px;           /* Adjust size as needed */
    height: auto;
    margin: 0;             /* Remove any default margins */
  }